* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    color: white;
}

body {
    background-color: slategray;
}

/* Top Navigation Bar */
.nav-bar nav{
    display:flex;
    width: 100%;
    height: 100px;
    padding: 0.20rem;
    align-content: center;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
}

.nav-bar img {
    height: auto;
    width: auto;
    border: 3px darkblue solid;
    border-radius: 10px;
}

.nav-bar ul{
    display: inline-flex;
    align-items: center;
    list-style-position: inside;

}

.nav-bar li {
    display: flex;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.75rem;
    align-items: center;
    font-size: 1.45rem;
    border: 3px darkblue solid;
    border-radius: 1rem;
    background-color: darkblue;
}

/* Banner & Main Title */
.main-title {
    display: block;
    width: auto;
    padding: 0.25rem;
    font-size: 3rem;
    border: 2px white solid;
    border-radius: 15px;
}

.banner {
    display: flex;
    width: auto;
    height: 35rem;
    align-items: center;
    background-image: url(./banner-pic.webp);
    background-repeat: round;
    border-bottom: 2px white solid;
}

/* Title for tables */
.con-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* First Table */
.container-1 {
    display: flex;
    width: 100%;
    height: 10rem;
    align-items: center;
}

/* First Table - Left Side */
.left-side{
    width: 50%;
    border: 1px white solid;
}

.left-side th {
    font-size: 1.5rem;
    border: 1px white solid;

}

/* First Table - Right Side */
.right-side {
    width: 50%;
    border: 1px white solid;
}

.right-side th {
    font-size: 1.5rem;
    border: 1px white solid;
}

/* Second Table */
.container-2 {
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
}

/* Second Table - Left Side */
.left-side2 {
    width: 50%;
    border: 1px white solid;
}

.left-side2 th {
    font-size: 1.5rem;
    border: 1px white solid;
}

/* Second Table - Right Side */
.right-side2 {
    width: 50%;
    border: 1px white solid;
}

.right-side2 th {
    font-size: 1.5rem;
    border: 1px white solid;
}

/* Math Form Title */
.math-title {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* Math Form Section */
.form1 {
    display: flex;
    width: 100%;
    margin: 0.35rem;
    padding: 0.35rem;
    align-items: center;
    text-align: center;
    border-bottom: 3px white solid;
}

.form1 input {
    color: black;
    padding: 0.45rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: 1px darkblue solid;
}

.form1 label {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.5rem;
    text-decoration: underline;
}

.form1 button {
    font-size: 1.25rem;
    color: darkblue;
    margin: 0.25rem;
    padding: 0.45rem;
    border-radius: 15px;
}

.math-answers label {
    width: 50%;
    text-decoration: none;
}

/* Word Form Title */
.word-title {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* Word Form Section */
.form2 {
    display: flex;
    width: 100%;
    margin: 0.35rem;
    padding: 0.35rem;
    align-items: center;
    text-align: center;
    border-bottom: 3px white solid;
}

.form2 input {
    color: black;
    padding: 0.45rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: 1px darkblue solid;
}

.form2 label {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.5rem;
    text-decoration: underline;
}

.form2 button {
    font-size: 1.25rem;
    color: darkblue;
    margin: 0.25rem;
    padding: 0.45rem;
    border-radius: 15px;
}

.word-message label {
    width: 50%;
    text-decoration: none;
}

.word-message span {
    display: flex;
    width: 40%;
}

/* Random Generator Title */
.random-title{
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* Random Generator Section */
.form3{
    display: flex;
    width: 100%;
    margin: 0.35rem;
    padding: 0.35rem;
    align-items: center;
    text-align: center;
    border-bottom: 3px white solid;
}

.form3 input {
    color: black;
    padding: 0.45rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: 1px darkblue solid;
}

.form3 label {
    font-size: 1.5rem;
    margin: 0.25rem;
    padding: 0.5rem;
    text-decoration: underline;
}

.form3 button {
    font-size: 1.25rem;
    color: darkblue;
    margin: 0.25rem;
    padding: 0.45rem;
    border-radius: 15px;
}

.random-message label{
    width: 50%;
    text-decoration: none;
}

.random-message span {
    display: flex;
    width: 40%;
}

/* Button Title */
.button-title {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}

/* Button Section */
.buttons {
    display: flex;
    width: 100%;
    margin: 0.35rem;
    padding: 0.35rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 3px white solid;
}

.buttons form {
    display: flex;
}

/* First Button */
.button1 {
    display: block;
    margin: 1.5rem;
}

.button1 label {
    font-size: 1.75rem;
}

.button1 button {
    font-size: 1.5rem;
    color: darkblue;
    padding: 1.5rem;
    border-radius: 50px;
}

/* Second Button */
.button2 {
    display: block;
    margin: 1.5rem;
}

.button2 label {
    font-size: 1.75rem;
}

.button2 button {
    font-size: 1.5rem;
    color: darkblue;
    padding: 1.5rem;
    border-radius: 50px;
}

/* Third Button */
.button3 {
    display: block;
    margin: 1.5rem;
}

.button3 label {
    font-size: 1.75rem;
}

.button3 button {
    font-size: 1.5rem;
    color: darkblue;
    padding: 1.5rem;
    border-radius: 50px;
}

/* Reset Button */
.reset-button {
    display: flex;
}

.reset-button button {
    display: block;
    height: 4rem;
    width: 8rem;
    font-size: 1.5rem;
    color: darkblue;
    border-radius: 50px;
}

/* Footer */
.footer {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: space-around;
    align-items: center;
}

.footer ul {
    display: inline-flex;
    align-items: center;

}

.footer li {
    display: flex;
    height: 2rem;
    font-size: 1.4rem;
    margin: 0.75rem;
    padding: 0.75rem;
    align-items: center;
    border: 3px darkblue solid;
    border-radius: 1rem;
    background-color: darkblue;
}